article{background-color:#fff}
body{background-color:#ddd}
menu{background-color:#fff;overflow:hidden;white-space:nowrap}
main{background-color:#ddd;border-color:#fff!important}
body>footer{background-color:#fff;border-color:#fff!important}
body>header{background-color:#fff;border-color:#fff!important}
section{background-color:#fff;border-color:#ddd!important}
