article{border:1px solid;border-radius:5px;margin:3px auto;max-height:600px;overflow:auto;padding:3px;width:95%}
article img{max-width:100%!important;height:auto!important}
a{text-decoration:none}
body{font-family:sans-serif;margin:0}
body>header>h1>span{margin-right:10px}
details{font-family:serif;margin:3px 5px}
details summary{cursor:pointer;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
header,footer{width:100%}
header h2 a{font-size:small}
h2{margin-block-start:0;margin-left:5px}
q,time{float:right;font-size:small;margin-block-start:2px;margin-right:5px}
q::before{content:"© "}
header time::before{content:"𝍄 "}
details>time{display:none}

/* disable nav */
menu{display:none}

/* remove some obnoxious ad blocks */
.cta{display: none}
iframe{display:none}

/* popup overlay */
aside {position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(0, 0, 0, 0.7);transition:opacity 500ms;visibility:hidden;opacity:0}
aside:target{visibility:visible;opacity:1}
.popup {margin:70px auto;padding:20px;background:#fff;border-radius:5px;width:30%;position:relative;transition:all 5s ease-in-out}
.popup .close {position:absolute;top:20px;right:30px;transition:all 200ms;font-size:30px;font-weight:bold;text-decoration:none;color:#333}
.popup .close:hover {color:#dc322f}
.popup .content {max-height:30%;overflow:auto}