<config max="10" icon="🛸" color="blue.css" style="101010.css">
  <feed max="1">https://xkcd.com/rss.xml</feed>
  <feed>https://www.taz.de/rss.xml</feed>
  <feed>https://blog.fefe.de/rss.xml?html</feed>
  <feed>https://www.heise.de/newsticker/heise-atom.xml</feed>
  <feed>https://www.heise.de/security/rss/news-atom.xml</feed>
  <feed>https://www.sneakerfiles.com/feed/</feed>
  <feed>https://www.spiegel.de/index.rss</feed>
  <feed>https://www.tagesschau.de/xml/rss2/</feed>
  <feed>https://www.zdf.de/rss/zdf/nachrichten</feed>
</config>