article img{max-width:100%!important; height:auto!important}
article{border:1px solid;border-radius:5px;margin:3px auto;padding:3px 10px;width:95%}
a{text-decoration:none}
body>footer{margin: 10px 0;padding:2px 0;text-align:center}
body{font-family:sans-serif;margin:0}
details{font-family:serif;margin:0 0 3px 5px}
h1::before{content:"🗟";padding: 5px 5px 0 5px}
h1{margin-left:10px}
h2 a{font-size:small}
h2{margin-block-start:0;margin-left:5px}
header,footer{width:100%}
main{columns:auto 3}
q,time{float:right;font-size:small;margin-block-start:2px;margin-right:5px}
q::before{content:"© "}
section{display:inline-block;margin:0 0 10px 10px;width:600px}
time::before{content:"𝍄 "}
