article{border-color:#ccc;color:#044}
body>footer{border-color:#066!important}
body>header{border-color:#066!important}
body>main  {border-color:#066}
body{background-color:#044}
footer{background-color:#066;color:#fff}
header{background-color:#066;color:#fff}
main  {background-color:#eee;color:#066}
section{background-color:#fff}
h2 a{color:#aaa}
